body {
    background-color:rgb(72, 134, 158);
    display: flex;
}

.container {
    position: relative;
    margin-left: 40%;
}

.header {
    color: white;
    padding: 10px;
}

h1 {
    font-size: 35px;
}

main {
    justify-self: center;
    text-align: center;
    padding: 10px;
}

.question {
    color: white;
    font-size: 25px;
    margin: 20px;
}

button {
    display: block;
    height: 35px;
    font-weight: bold;
    color: black;
    background-color: rgb(223, 186, 118);
    border: 2px solid rgb(189, 188, 188);
    border-radius: 8px;
    margin: 16px 16px 16px 20px;
    cursor: pointer;
}

button:hover{
	background-color: rgb(241, 205, 137);
}

#start {
    margin-left: 85px;
    height: 75px;
    width: 150px;
    align-self: center;
    font-size: 50px;
    margin-bottom: 80%; 
}

.wrapper {
    border-bottom: 1px solid white;
}